//header
header{
    // 裝飾線
    border-top: 3px solid $lightColor;
    position: relative;
    z-index: auto;
    &:before{
        content: '';
        position: absolute;
        width: calc(100% / 12 * 4);
        height: 3px;
        background: $primaryColor;
        left: 0;
        top: -3px;
    }
}
.header {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    transition: 0.3s ease-out;
    // background: url(../images/bg_headerTop.png) 50% top no-repeat;
    // background-size: cover;
    @extend %clearfix;

    @include screen('tablet') {
        position: fixed !important;
        width: 100%;
        background: #fff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }

    &:before {
        // position: absolute;
        // content: '';
        // width: 100%;
        // height: 100%;
        // top: 0;
        // left: 0;
        // background: #fff;
        // box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        // pointer-events: none;
        // z-index: -1;
        // @include screen('mobile') {
        //     height: 60px;
        // }
    }
    // mobile btn for extend
    %mobileCtrlBtn {
        width: 60px !important;
        height: 60px !important;
        position: absolute;
        top: 0px;
        display: block;
        font-size: 0em;
        padding: 15px;
        margin: 0;
        min-width: auto;
        min-height: auto;
        background: transparent;
        border: none;
        box-shadow: none;
        box-sizing: border-box;
        @include screen('tablet') {
            display: block !important;
        }
    }
    >.container {
        max-width: $container-max;
        overflow: visible;
        position: relative; // menu
        .sidebarCtrl {
            display: none;
            left: 0px;
            @extend %mobileCtrlBtn;
            span {
                position: absolute;
                background: $primaryColor;
                width: 50%;
                height: 3px;
                top: 20px;
                left: 50%;
                margin-left: -25%;
                display: block;
                border-radius: 2px;
                &:nth-child(2) {
                    top: 28px;
                }
                &:nth-child(3) {
                    top: 36px;
                }
            }
        }
        // search
        .searchCtrl {
            display: none;
            right: 0px;
            font-size: 0em;
            @extend %mobileCtrlBtn;
            &:before {
                width: 40px;
                height: 40px;
                background: url(../images/basic/icon_search.png) no-repeat center center;
                background-size: 28px;
                opacity: 0.6;
                content: '';
                position: absolute;
                top: 10px;
                left: 10px;
                display: block;
            }
        }
    }
    h1 {
        float: left;
        width: 300px;
        height: 75px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        a {
            display: inline-block;
        }
        img {
            display: block;
            // max-width: 300px;
            max-height: 75px;

            width: 300px;
        }
        @include screen('tablet') {
            padding: 2px 60px;
            width: 100%;
            text-align: center;
            height: 60px;
            img {
                width: auto;
                height: 48px;
                max-height: 54px;
                margin: 4px auto 0;
                transform: scale(0.8);
            }
        }
    }
    // 導覽列
    .navigation {
        @include screen('tablet') {
            display: none;
        }
        @extend %clearfix;
        box-sizing: border-box;
        display: flex;
        .navlist {
            flex: 1 1 auto;
            margin: 0.25em 0.5em 0 0;
            ul {
                padding: 0;
                margin: 0;
                font-size: 0.875em;
                list-style: none;
                display: flex;
                justify-content: flex-end;
            }
            li {
                flex: 0 0 auto;
                a {
                    display: block;
                    padding: 0.5em;
                    text-decoration: none;
                    @include aSetting_nocolor;
                }
            }
        }
        // 字級
        .language {
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: 140px;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            align-self: center;
        }
    }
}

//search
.search {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    vertical-align: top;
    font-size: 0.938em;
    box-sizing: border-box;
    margin: .6em .5em;
    margin-right: 4.6em;

    label {
        font-size: 0em;
    }
    .form_grp {
        flex: 0 0 auto;
        margin: 0;
        background: #fff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        padding: 0.35em 1em;
        border-radius: 4px 0 0 4px;

        display: none;  // 預設隱藏

        // position: relative;
        input {
            padding: .5em 1em;
            box-shadow: none;
            width: auto;
            min-width: 320px;

            // 字串輸入後，送出的btn
            &[type='submit'] {
                min-width: auto;
                padding: 0.2em 0.8em;
                // position: absolute;
                // right: 0;
                // top: 0;
            }
            &:focus {
                box-shadow: 0 0px 0px 2px $aFocus;
            }
        }
        button,
        .btn,
        .btn-search {
            min-width: auto;
            padding: .2em 1em !important;
            margin: 0;

            background: #eee;
            color: #222;
            border: transparent;
            font-size: 1.125em;
            line-height: 1.9;

            &:hover,
            &:focus {
                box-shadow: none !important;
            }
        }
    }
    .btn_grp {
        flex: 0 0 auto;
        padding: 0 0;
        margin: 0;
        order: 1;
        button,
        .btn,
        .btn-search {
            min-width: auto;
            padding: .25em .75em;
            margin: 0;
            &:hover,
            &:focus {
                box-shadow: none !important;
            }
        }

        .search_switch{
            width: 60px;
            height: 60px;
            font-size: 0;
            background: url(../images/icon/icon_search.svg) 50% 50% no-repeat, transparent;
            border-radius: 3px;
            border: transparent;
            background-size: 18px 18px;

            // transition: all 300;
            &:focus{ border-radius: 0 3px 3px 0; }

            &:hover, &:focus{
                background: url(../images/icon/icon_search2.svg) 50% 50% no-repeat, $primaryColor;
                background-size: 18px 18px;

            }

            &.act{
                border-radius: 0 3px 3px 0;
                background: url(../images/icon/icon_search2.svg) 50% 50% no-repeat, $primaryColor;
                background-size: 18px 18px;
            }
        }

        &:hover, &:focus{}
    }

    // .keywordHot {
    //     flex: 1 1 100%;
    //     ul {
    //         font-size: 0.813em;
    //         line-height: 1.65em;
    //         margin: 0;
    //         padding: 0;
    //         display: flex;
    //         justify-content: flex-end;
    //         list-style-type: none;
    //         &:before {}
    //         li {
    //             margin: 0;
    //             padding: 0.5em;
    //             flex: 0 0 auto;
    //         }
    //         a {
    //             @include aSetting_nocolor;
    //         }
    //     }
    // }

    // 登入按鈕
    +.login_btn{
        // .container set relative
        position: absolute;
        right: 2em;
        top: 56px;
        padding: 0;

        input{
            padding: 0 .75em;
            line-height: 60px;
            background: transparent;
            border: transparent;

            &:hover,
            &:focus{
                background: $primaryColor;
                color: #fff;
            }
        }
    }

    @include screen('tablet') {
        display: none;

        // 登入按鈕
        +.btn_grp{
            display: none;
        }
    }
}

// m_search
.m_search {
    width: 100% !important;
    max-width: 100% !important;
    min-width: auto;
    padding: 1.5em 0.3em;
    display: block;
    height: auto;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 98;
    background: #333333e8;
    display: none;
    margin: 0;
    label {
        font-size: 0em;
        line-height: 0;
    }
    .form_grp {
        display: flex;
        align-items: center;
        justify-content: center;
        label {
            display: none;
            flex: 0 0 0%;
        }
        input {
            margin: 0.5em;
            padding: 0.5em;
            flex: 1 1 50%;
            max-width: 70%;
            &[type='submit'] {
                flex: 0 1 15%;
                margin: 0.5em;
            }
        }
        .btn,
        .btn-search {
            min-width: auto;
            padding: 0.5em 0.8em;
            margin: 0;
            flex: 1 1 20%;
            max-width: 25%;
            &:hover,
            &:focus {
                box-shadow: none !important;
            }
        }
    }
    >.btn_grp { display: none; }
    .btn_grp {
        flex: 1 1 auto;
        padding: 0.25em 0.5em;
        border-bottom: solid 1px #444;
        box-sizing: border-box;
        text-align: right;
        .btn {
            width: auto !important;
            padding: 0.2em 0.5em !important;
            margin: 0;
            background: transparent;
            font-size: 0.875rem;
            color: #ddd;
            border: none;
            &:hover,
            &:focus {
                color: lighten($aHover, 10);
            }
        }
    }
    // .keywordHot {
    //     flex: 1 1 100%;
    //     ul {
    //         font-size: 0.875em;
    //         line-height: 1.65em;
    //         margin: 0;
    //         padding: 0.5em 0 0 0.5em;
    //         display: flex;
    //         justify-content: flex-start;
    //         list-style-type: none;
    //         &:before {}
    //         li {
    //             margin: 0;
    //             padding: 0.5em;
    //             flex: 0 0 auto;
    //         }
    //         a {
    //             color: #fff;
    //             &:hover,
    //             &:focus {
    //                 color: lighten($aHover, 10);
    //             }
    //         }
    //     }
    // }
}

// header fix
// .header.fixed {
//     position: fixed;
//     width: 100%;
//     right: 0;
//     top: 0;
//     box-shadow: rgba(0, 0, 0, 0.5) 0 0 25px;
//     background: rgba(0, 0, 0, 0.75);
//     z-index: 999;
//     &:before {
//         background: rgba(0, 0, 0, 0.35);
//     }
//     @include screen('mobile') {
//         background: #fff;
//     }
//     .menu {
//         > ul {
//             > li {
//                 > a {
//                     color: #fff;
//                 }
//             }
//         }
//     }
//     .megamenu {
//         > ul {
//             > li {
//                 > a {
//                     color: #fff;
//                 }
//             }
//         }
//     }
// }