* { box-sizing: border-box; }
html { scroll-behavior: smooth; }

body {
    &.noscroll {
        position: static !important;
        width: 100%;
        height: 100%;
        overflow: hidden !important;
        overflow-y: hidden !important;
        margin: 0;
        padding: 0;
    }

    // background: url(../images/bg_headerTop.png) 50% top no-repeat, url(../images/bg.jpg) 50% top repeat;
    background: url(../images/bg.jpg) 50% top repeat;

    position: relative;
    &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: url(../images/bg_headerTop.png) 50% top no-repeat;
        background-size: contain;
    }
}

// 最外圍預設為100%
.wrapper {
    width: 100%;
    margin: 0px auto;
    @include screen('mobile') {
        // background: #FFF;
        overflow: hidden;
        overflow-y: auto;
    }
}

// 整體共用container樣式，請注意首頁切版頁面的整齊
.container {
    padding: 0;
    margin: 0 auto;
    max-width: $container-max; //請看_variable.scss
    @include gutter(4em); 

    @include screen('tablet') {
        @include gutter(3em); 
    }

    a,
    td{
        &.unable{
            cursor: not-allowed;
            color: #666;
            background: #f4f4f4;
        }
    }
}

.flex-8-4{
    .container {
        @extend %flex_set;
        .col{
            @include flex-xs(12, 0px);
            @include flex-sm(8, $m-gutter);
            @include flex-md(8, $m-gutter);
            @include flex-lg(8, $m-gutter);

            &:last-child{
                @include flex-xs(12, 0px);
                @include flex-sm(4, $m-gutter);
                @include flex-md(4, $m-gutter);
                @include flex-lg(4, $m-gutter);

                overflow: hidden;

                a{
                    display: block;
                    position: relative;
                    &:before{
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background: rgba(0,0,0,0);
                        z-index: 1;
                        transform: scale(1.0);
                        transition: .3s;
                    }
                    span{
                        position: absolute;
                        z-index: 2;
                        width: 90px;
                        height: 90px;
                        left: 50%;
                        margin-top: -45px;
                        margin-left: -45px;
                        padding: .9em;
                        top: 50%;
                        border-radius: 50%;
                        color: #fff;
                        border: 2px solid #fff;
                        text-align: center;
                        font-size: 1.25em;

                        opacity: 0;
                    }
                    img{
                        transform: scale(1.0);
                        transition: .3s;
                    }
                    &:hover, &:focus{
                        &:before{
                            background: rgba(0,0,0,.55);
                            transform: scale(1.05);
                        }
                        span{
                            opacity: 1;
                        }
                        img{ transform: scale(1.05); }
                    }
                }
            }
        }
    }
}

.main {
    position: relative;
    margin: 0 auto;
    // 可先設定一個中央區塊最大寬，限制accesskey對齊
    h2 {
        line-height: 1.25em;
    }

    @include screen('tablet') {
        margin-top: 60px;
    }
}

////////////////////////////////////////////////////////////
// 為了與首頁區隔，請在內頁加上innerpage ClassName
.innerpage {
    // padding-top: 2em;
    >.container {
        // @include gutter(); //gutter 代表左右要留白
        display: flex;
        padding-top: 2em;
        padding-bottom: 2em;
        // background: #fff;
    }
    .center_block {
        flex: none;
        flex-basis: 100%;
        max-width: 100%;
    }

    // 原本 style
    // .left_block {
    //     flex: none;
    //     flex-basis: 220px;
    //     max-width: 220px;
    //     margin-right: 40px;
    //     &.hidden {
    //         +.center_block {
    //             flex: none;
    //             flex-basis: 100%;
    //             max-width: 100%;
    //         }
    //     }
    //     +.center_block {
    //         flex: auto;
    //         flex-basis: calc(100% - 300px);
    //         max-width: calc(100% - 300px);
    //     }
    //     @include screen('tablet') {
    //         display: none;
    //         +.center_block {
    //             flex: none;
    //             flex-basis: 100%;
    //             max-width: 100%;
    //         }
    //     }
    // }

    // 本專案 style
    // 左側欄，手機版收合
    .left_block {
        flex: none;
        // flex-basis: 200px;
        // max-width: 200px;
        width: 200px;
        margin-right: 40px;

        transition: all .3s ease;

        &.show{
            left: 0px;
            .leftblock_nodemenu{
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }
        }

        .leftblock_nodemenu{
            box-shadow: none;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            .title{
                position: relative;
                a.handle{
                    position: absolute;
                    display: block;
                    width: 30px;
                    height: 100%;
                    background: url(../images/icon/icon_arrow_right2.svg) 50% 50% no-repeat, darken($primaryColor, 0);
                    background-size: 12px 12px;
                    right: -30px;
                    top: 0;
                    -webkit-writing-mode: vertical-lr;
                    writing-mode: vertical-lr;
                    text-align: center;
                    color: #fff;
                    font-size: .813em;
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                    border-left: solid 1px $lightColor;
                    text-indent: -9999px;

                    display: none;
                }
            }
        }

        +.center_block {
            flex: auto;
            flex-basis: calc(100% - 300px);
            max-width: calc(100% - 300px);
        }

        @include screen('tablet') {
            // display: none;

            position: fixed;
            margin-right: 0;
            z-index: 999;
            left: -200px;

            .leftblock_nodemenu{
                box-shadow: none;
                .title{
                    a.handle{ display: block;}
                }
            }

            +.center_block {
                flex: none;
                flex-basis: 100%;
                max-width: 100%;
            }
        }
    }


    &.small_size {
        font-size: .938em;
    }
    &.large_size {
        font-size: 1.25em;
    }

    // 
    // .function_panel+section{
    //     margin-top: 2em;
    // }
}

.hidden { display: none; }

// 共同設定 flex
// .info_card .project,
.hotNews,
.thumbnail,
.Steps ul{
    @extend %flex_set;
}

// 園區植物
.info_card{
    .project{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        .img-container{
            flex: 0 0 360px;
            border: solid 12px #fff;
        }
        .col{
            flex: 1 1 100%;

            table{
                th, td{ border: transparent; }
                th{
                    width: 90px;
                    // background: transparent;
                    background: #ebebeb;
                    color: #666;
                }
                td{
                    width: calc(100% - 90px);
                    border-bottom: 1px solid #ddd;
                    text-align: left;
                }
                tr{
                    &:last-child{
                        th, td{ border-bottom: transparent; }
                    }
                }
            }
        }

        @include screen('tablet') {
            flex-flow: row wrap;
            .img-container{ display: none; }
        }
    }
    >h4{
        span{
            display: inline-block;
            // background: #666;
            // border: 1px solid #666;
            color: #666;
            background: #ebebeb;
            padding: 0.25em 1em;
            border-radius: 4px;
            font-size: 85%;
        }
    }
    >p{}
}

// 圖文交疊
.overlap{
    overflow: hidden;
    .col{
        padding: 3em 0 5em;

        position: relative;
        .img-container{
            position: absolute;
            background: #ddd;
            top: 0;
            left: 0;
            max-width: 60%;
            bottom: 12%;
        }

        display: flex;
        flex-flow: row-reverse nowrap;
        .text{
            width: 45%;
            position: relative;
            .title{
                display: flex;
                flex-flow: row-reverse nowrap;
                align-items: center;
                >span{
                    font-size: 6em;
                    color: #ddd;
                    display: inline-block;
                    line-height: 1;
                }
                >p{
                    margin: 0;
                    font-size: 140%;
                    padding: 0 1em;
                    line-height: 1.2;
                }
            }
            >p{
                background: #fff;
                padding: 3em 2em;
                // box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
                box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
            }
        }

        &:nth-child(even){
            .img-container{
                left: auto;
                right: 0;
            }

            flex-flow: row nowrap;
            .text{
                .title{ flex-flow: row nowrap; }
            }
        }
    }

    @include screen('tablet'){
        .col{
            .img-container{
                max-width: initial;
                width: 100%;
            }
            .text{
                width: 75%;
                margin-top: 200px;
                .title{
                    background: rgba(0,0,0,.5);
                    padding: 0.5em 1.25em;
                    color: #fff;
                    >span{
                        font-size: 3em;
                    }
                    >p{}
                }
                >p{
                    margin-top: 0;
                    line-height: 1.5;
                    padding: 1.25em 1.5em;
                }
            }
        }
    }

    @include screen('mobile') {
        .col{
            display: block;
            padding: 1em 0;

            .img-container{ position: inherit; }
            .text{
                width: 100%;
                margin-top: 0;

                .title{
                    background: #fff;
                    color: #222;
                    padding: 1.5em 1.25em 0;
                    flex-flow: row nowrap;
                }
            }
        }
    }
}

// 
.page-ctrl{
    display: flex;
    justify-content: space-between;

    .btn{
        padding: .5em 1.5em;
        font-size: 1.125em;
        color: #000 !important;
        background: $lightColor2!important;
        border: solid 1px $lightColor2!important;
        transition: .3s;
        i:before{ filter: invert(0); }
        &.prev{ padding: .5em 1.5em .5em 3em; }
        &.next{ padding: .5em 3em .5em 1.5em; }

        &:hover,
        &:focus {
            color: #fff !important;
            background: darken($lightColor2, 12)!important;
            border: solid 1px $lightColor2!important;
            i:before{ filter: invert(1); }
            &.prev{ padding: .5em 3em .5em 1.5em; }
            &.next{ padding: .5em 1.5em .5em 3em; }
        }
    }

    @include screen('mobile') {
        .btn{
            &.prev, &.next{
                padding: 0.5em 1em;
                font-size: 1em;
            }
        }
    }
}

// LP 圖文欄
.hotNews{
    // @extend %flex_set;
    .col{
        @include flex-xs(12, 0px);
        @include flex-sm(12, $m-gutter);
        @include flex-md(7, $m-gutter);
        @include flex-lg(7, $m-gutter);
    }
    .img-container{
        @include flex-xs(12, 0px);
        @include flex-sm(12, $m-gutter);
        @include flex-md(5, $m-gutter);
        @include flex-lg(5, $m-gutter);
        @include aspect-ratio(16,9);
        margin: 12px 0;
    }
}

.thumbnail{
    // @extend %flex_set;
    .col{
        @include flex-xs-equal(1, 0px);
        @include flex-sm-equal(2, 10px);
        @include flex-md-equal(4, 10px);
        @include flex-lg-equal(4, 10px);

        margin: .5em 0;
    }
}

// thumbnail
.thumbnail{
    // // @extend %flex_set;
    // .col{
    //     @include flex-xs-equal(1, 0px);
    //     @include flex-sm-equal(2, 10px);
    //     @include flex-md-equal(4, 10px);
    //     @include flex-lg-equal(4, 10px);

    //     margin: .5em 0;
    // }

    // background: #FFF;
    width: 100%;
    margin: 1em 0;
    border-radius: 3px;
    overflow: hidden;

    a {
        display: block;
        height: 360px;
        overflow: hidden;
        @include aSetting(#555);

        position:relative;
        .caption {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            // border-left: solid 10px #fff;
            color: #fff;

            time, p{ position: absolute; }
            time{
                // left: -10px;
                top: 20px;
                background: $secondaryColor;
                padding: 0.45em 1em;
                font-size: 90%;
                font-weight: bold;
            }
            p{
                width: 100%;
                line-height: 1.4;
                font-size: 90%;
                margin: 0;
                margin-left: 10px;
                bottom:0;
                padding: 1em 2em;
                background: rgb(0,0,0);
                background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
                background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
                background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
            }
        }

        .img-container {
            height: 100%;
            width: calc(100% - 10px);
            margin-left: 10px;

            img{
                transform: scale(1.0);
                transition:  all .3s ease;
            }
        }
        // &:focus {
        //     &:before{
        //         content:"";
        //         position:absolute;
        //         width: 100%;
        //         height: 100%;
        //         left: 0;
        //         top:0;
        //         right:0;
        //         bottom:0;
        //         z-index: 1;
        //         box-shadow:0px 0px 0px 1px $aHover inset;
        //     }
        // }

        &:hover, &:focus{
            .caption {}
            .img-container{
                img{ transform: scale(1.2); }
            }
        }
    }

    // 純連結
    &.links{
        .img-container{
            height: initial;
            width: 100%;
            margin-left: 0;
        }
        .caption{
            position: static;
            top: 0;
            width: 100%;
            height: auto;
            color: #222;
            padding: 1em 1.25em;

            time, p{
                position: static;
                background: transparent;
                padding: 0;
            }
            p{
                margin-left: 0;
                margin-top: 6px;
                font-size: 1em;
            }
        }

        .col{
            background: #fff;
            box-shadow: transparent;
            transition: .3s;
            &:hover, &:focus{
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            }
            a{
                border-radius: 3px;
                overflow: hidden;
            }
        }
    }
}

// 

$spec_margin: 8px;
.cards{
    // 特殊作用 
    display: flex;
    flex-flow: row wrap;

    .col{
        // background: #f1f1f1;
        margin: 8px $spec_margin;
        flex: 0 1 auto;
        flex-basis: calc(100% / 4 - 16px);

        .img-container{
            @include aspect-ratio(4,5);
        }
        span{
            display: block;
            text-align: center;
            padding: 1em 0 0.5em;
            font-size: 110%;
            font-weight: bold;
        }

        a{
            display: block;
            padding: 1em;
            color: #666;
            background: #fff;
            border: solid 1px #f2f2f2;
            border-radius: 4px;

            position: relative;
            &:before{
                content: '';
                position: absolute;
                width: 30px;
                height: 30px;
                background: transparent;
                z-index: 2;
                transform: rotate(45deg);
                bottom: -6px;
                left: 50%;
                margin-left: -18px;
            }

            transition: all 300ms ease-in;
            &:hover, &:focus{
                background: $secondaryColor;
                color: #fff;
            }
        }

        &.active{
            transition: all 300ms ease-in;
            a{
                background: $secondaryColor;
                color: #fff;

                span{
                    position: relative;
                    z-index: 2;
                    // 避免箭頭擋住字
                }

                &:before{
                    background: $secondaryColor;
                }

                transition: all 300ms ease-in;
                &:hover, &:focus{
                    background: $secondaryColor;
                    color: #fff;
                }
            }

            +.showbox{ display: block; }
        }
    }

    position: relative;
    .showbox{
        // width: 100%;
        margin: 0 $spec_margin;
        padding: 1.25em 2em;
        background: #fff;
        // border: solid 1px #dfdfdf;
        border-radius: 12px;
        // box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
        // box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;

        position: absolute;
        // top: calc(388px + 16px);
        z-index: 1;

        display: none;

        .info_card{
            .img-container{}
            .col{
                margin: 0;
                background: transparent !important;
            }
            // >h4{
            //     span{ font-size: 115%; }
            // }
        }
    }

    // @include screen('notebook') {
    //     .col{
    //         flex-basis: calc(100% / 2 - 16px);

    //         .img-container{
    //             @include aspect-ratio(4,3);
    //         }
    //     }
    // }

    @include screen('tablet') {
        .col{
            flex-basis: calc(100% / 2 - 16px);
            .img-container{}
        }
    }
    @include screen('mobile') {
        .col{
            flex-basis: 100%;
        }
        .showbox{
            position: static;
            width: 100%;
            padding: 1.25em 1em;
        }
    }
}


// 步驟
.Steps{
    margin: 2em 0 .75em;
    ul{
        flex-flow: row nowrap;
        @include li-reset;  
        li{
            flex: 1 0 auto;
            text-align: center;
            span{
                border-radius: 50%;
                display: block;
                margin: 0 auto;
                background: #fff;
                box-shadow: inset 0 0 2px #262626;
                width: 60px;
                height: 60px;
                line-height: 60px;
                font-size: 1.25em;
                position: relative;
            }
            p{
                margin: 6px 0 0;
            }

            // 線
            position: relative;
            &:before{
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                background: #e0e0e0;
                top: 30px;
                left: 50%;
            }
            &:last-child{
                &:before{ display: none; }
            }

            &.past, &.now{
                span{ box-shadow: none; }
            }
            &.past{
                span{
                    // background: #f5f4f0;
                    // color: #656672;
                    background: #d0d0d0;
                    color: #5a5a5a;
                }
                p{ color: #656672; }
            }
            &.now{
                span{
                    background: $primaryColor;
                    color: #fff;
                }
                p{
                    color:$primaryColor;
                    font-weight: bold;
                }
            }
        }
    }
    
    @include screen('mobile') {
        ul{
            li{
                span{
                    width: 20px;
                    height: 20px;
                    font-size: 0;
                    margin: 20px auto;
                }
                p{ font-size: 0;}
            }
            .now{
                span{
                    width: 60px;
                    height: 60px;
                    font-size: 1.25em;
                    margin: 0 auto;
                }
                p{ font-size: 1em;} 
            }
        }
    }
}

// 共同設定
.remind_notice,
.tip_box,
.result_box,
.message{
    padding: 1em 2em;
    border-radius: 5px;
}


// 提醒
.remind_notice{
    border: solid 1px $primaryColor;
    background: lighten($primaryColor, 70);
    margin-bottom: 30px;
    line-height: 2em;
    img{
        display: block;
        margin: 0 auto;
    }
    a{
        color: #0270b3;
        text-decoration: underline;
        margin: 0 5px;
        &:hover, &:focus, &:active{
            text-decoration: none;
        }
    }
    b{ color: darken($lightColor, 10) }
    .Remind{
        background: #cdefea;
        padding: 1em 2em;
        border-radius: 5px;
    }
    .btn_grp a{ text-decoration: none; line-height: 1.45em;}
    @include screen('mobile') {
        padding: 1em 1em;
    }
}
// 提醒中的確認區塊
.confirm_box{
    padding: 1em;
    text-align: center;
    border-top: dotted 1px #247790;
    // font-size: 1.125em;
    label{}

    .checkbox{ padding: 1em 0; }
}

// 小提示
.tip_box{
    // background: #f7f4ef;
    background: #ecdfca;
    margin: 1em 0;

    table{
        tr{
            border-bottom: 1px solid #d0bfad;

            &:last-child{
                border-bottom: none;
            }
        }
        th, td{
            border: transparent;
            background: transparent;
            color: #222;
        }
    }

    @include screen('xs_mobile') {
        padding: 1em 1em;
    }
}

// 操作結果
.result_box,
.message{
    text-align: center;
    border: 1px solid rgba(0,118,144,.5);
    background: #fff;
    span{
        display: inline-block;
        padding: 0.75em 2em;
        font-size: 1.25em;
        color: $primaryColor;
        font-weight: bold;
    }
}

.message{
    border: transparent;
    span{
        color: #666;
    }
}


// 園區地圖
.zoneMap{
    position: relative;
    margin: 2em 0;

    .spot{
        position: absolute;
        width: 290px;
        text-align: center;

        .title{
            margin: 0 0 !important;
            text-align: center;
            font-size: .9em;
            a{
                display: inline-block;
                margin: auto;
                color: #fff;
                background: rgba(0,0,0,.5);
                padding: 0 20px;
                line-height: 2;
                font-weight: bold;
                border-radius: 3px;

                &:hover, &:focus{
                    background: rgba(0,118,144,.85);
                }
            }
        }
        .info{
            background: #fff;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
            padding: .75em 1.5em;
            border-radius: 6px;

            position: relative;
            z-index: 1;

            display: none;
            p{
                margin: .5em 0;
                line-height: 1.4;
                text-align: left;
                font-size: .9em;
            }
            .btn_grp{
                padding: .25em 0;
                .btn{
                    padding: .45em 1.5em;
                    font-size: .9em;
                }
            }
        }

        &.no-1{
            // 霧峯亭
            // left: 0; top: 140px;
            left: -3%; top: 17%;
        }
        &.no-2{
            // 後山公園
            // left: 270px; top: 27px;
            left: 13.8%; top: 2%;
        }
        &.no-3{
            // 議事大樓
            // right: 300px; top: 27px;
            right: 26.5%; top: 2%;
        }
        &.no-4{
            // 議政博物館
            // right: 0; top: 110px;
            right: 0%; top: 13.6%;
        }
        &.no-5{
            // 朝琴紀念館
            // left: 160px; top: 210px;
            left: 11%; top: 26%;
        }
        &.no-6{
            // 黃朝琴先生像
            // left: 360px; top: 210px;
            left: 31.85%; top: 26%;
        }
        &.no-7{
            // 議蘆會館
            // left: 160px; top: 320px;
            left: 14%; top: 39.6%;
        }
        &.no-8{
            // 日月池
            // right: 210px; top:290px;
            right: 18.58%; top:35.89%;
        }
        &.no-9{
            // 民主草坪
            // right: 20px; top: 330px;
            right: 1.77%; top: 40.84%;
        }
        &.no-10{
            // 椰林大道
            // right: 330px; top: 400px;
            right: 29.2%; top: 49.5%;
        }
        &.no-11{
            // 福桂林道
            // left: 50px; top: 460px;
            left: 4.42%; top: 56.93%;
        }
        &.no-12{
            // 圓形花圃
            // left: 160px; top: 510px;
            left: 14.15%; top: 63.11%;
        }
        &.no-13{
            // 健康步道
            // left: 380px; top: 480px;
            left: 33.62%; top: 59.4%;
        }
        &.no-14{
            // 入口Ｖ型拱門
            // left: 480px; bottom: 90px;
            left: 42.27%; bottom: 11.13%;
        }
    }

    @include screen('mobile') {
        margin: 2em 0;
        .spot{
            position: static;
            width: 100%;
            margin: 10px 0;

            .title{
                a{
                    display: block;
                    font-size: 1em;
                    line-height: 2.6;
                }
            }
            .info{}
        }
    }
}


// 各種預約
.Reserves{
    // 表單
    .flex-form{
        .form_grp{
            border-bottom: transparent;
        }
    }

    // sp3參訪預約導覽
    .visit{
        @extend %flex_set;
        margin-top: 2em;
        padding-top: 2em;
    }
    .col{
        @include flex-xs-equal(1, 0px);
        @include flex-sm-equal(1, $m-gutter);
        @include flex-md-equal(2, $m-gutter);
        @include flex-lg-equal(2, $m-gutter);
    }

    // // 月曆：sp3參訪預約導覽
    // .calander{
    //     position: relative;
    //     // 月份切換
    //     .month_ctl{
    //         position: absolute;
    //         top: 0;

    //         // 左右對齊
    //         &.space_between{
    //             width: 100%;
    //             // background: rgba(222,222,222,.25);
    //             height: 66px;
    //         }
    //         .btn{
    //             text-indent: -9999px;
    //             padding: 1em;
    //             border-radius: 50%;
    //             width: 46px;
    //             height: 46px;
    //             min-width: auto !important;
    //             border: transparent;
    //         }

    //         .btn.pre, .btn.next{
    //             position: absolute;
    //             top: 8px;
    //         }

    //         .btn.pre{
    //             background: url(../images/icon/icon_arrow_left.svg) 50% 50% no-repeat, #eee;
    //             background-size: 18px 18px;

    //             &:hover, &:focus{
    //                  background: url(../images/icon/icon_arrow_left2.svg) 50% 50% no-repeat, #333;
    //                  background-size: 18px 18px;
    //             }
    //         }
    //         .btn.next{
    //             background: url(../images/icon/icon_arrow_right.svg) 50% 50% no-repeat, #eee;
    //             background-size: 18px 18px;
    //             right: 0;
    //             &:hover, &:focus{
    //                 background: url(../images/icon/icon_arrow_right2.svg) 50% 50% no-repeat, #333;
    //                 background-size: 18px 18px;
    //             }
    //         }
    //     }

    //     time.date{
    //         text-align: center;
    //         font-weight: bold;
    //         display: block;
    //         font-size: 1.5em;
    //         line-height: 2.6;
    //     }
    //     table{

    //         th{
    //             width: calc(100% / 7);
    //         }
    //         td{
    //             padding: 0;
    //             a{
    //                 display: block;
    //                 padding: .5em;
    //                 &:hover{ background: #ecdfca; }
    //                 &:focus{
    //                     color: #fff;
    //                     background: darken($lightColor2, 8);
    //                 }
    //             }

    //             &.act{
    //                 a{
    //                     color: #fff;
    //                     background: darken($lightColor2, 8);
    //                 }
    //             }

    //             &.unable{
    //                 color: #ddd;
    //                 cursor: not-allowed;
    //             }
                
    //             &.today{
    //                 color: #fff;
    //                 span{
    //                     display: block;
    //                     width: 32px;
    //                     height: 32px;
    //                     line-height: 32px;
    //                     margin: auto;
    //                     background: $primaryColor;
    //                     color: #fff;
    //                     // color: darken($primaryColor, 5);
    //                     font-weight: bold;
    //                     // box-shadow: inset 0 0 0 2px $primaryColor;
    //                     border-radius: 50%;
    //                 }

    //                 &.act{
    //                     span{
    //                         background: #fff;
    //                         color: darken($lightColor2, 10);
    //                         box-shadow: none;
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }
    // 時段
    .period{
        padding-left: .75em;
        .sub_title{
            margin: 0;
            padding-left: 0.35em;
            line-height: 2.6;
        }
        .AM, .PM, .NT{
            section{
                @extend %flex_set;
                align-items: center;
                border-bottom: 1px solid #666;

                &:last-child{
                    border-bottom: 0;
                }

                .col{
                    @include flex-xs-equal(2, $m-gutter);
                    @include flex-sm-equal(2, $m-gutter);
                    @include flex-md-equal(2, $m-gutter);
                    @include flex-lg-equal(2, $m-gutter);

                    &:first-child{
                        text-align: center;
                    }

                    &:last-child{
                        button{
                            width: 100%;
                        }
                    }
                }
            }

            // border: 1px solid #000;
            margin-bottom: 1em;
            padding-bottom: 1em;
            padding-left: 4em;
            position: relative;


            &:before{
                position: absolute;
                left: 0;
                top: 0;
                width: 3em;
                height: 100%;
                // writing-mode: vertical-lr;
                text-align: center;
                font-size: 1.125em;
                font-weight: bold;
                line-height: 3em;
                // padding: 12px 0;
                // background: rgba(152,137,48,.25 );
            }

            @include screen('mobile'){
                padding-left: 0;
                &:before{
                    position: static;
                    writing-mode: horizontal-tb;
                }
            }
        }

        .AM{
            // margin-bottom: 1em;
            // padding-bottom: 1em;
            &:before{
                content: '上午';
                // background: pink;
            }
        }
        .PM{
            &:before{
                content: '下午';
                // background: deeppink;
            }
        }
        .NT{
            &:before{
                content: '夜間';
            }
        }

        .btn_grp{ padding: 0 0;}

        .btn{
            padding: .5em 1.25em;
            padding-left: 1.75em;
            // 加入
            &.add{
                background: url(../images/icon/icon_add.svg) 16px 50% no-repeat, #e2e2e2;
                background-size: 16px 16px;
            }
            // 已選取
            &.picked{
                color: #fff;
                background: url(../images/icon/icon_check2.svg) 16px 50% no-repeat, darken($lightColor2, 8);
                background-size: 14px 14px;
            }
            // 已加入
            &.added{
                background: url(../images/icon/icon_bookmark.svg) 16px 50% no-repeat;
                background-size: 16px 16px;
                border: 1px solid transparent;

                &:hover, &:focus{
                    border: 1px solid #666;
                }
            }
        }

        @include screen('mobile'){
            padding-left: 0;
            margin-top: 2em;
            .sub_title{
                padding-left: 0;
            }
            .AM, .PM{
                padding-left: 0;
                &:before{
                    position: static;
                    writing-mode: horizontal-tb;
                    // line-height: 1.4;
                }
            }
        }
    }

    @include screen('mobile'){
        .visit{
            margin-top: 0;
            padding-top: 1em;
        }
    }
}

// 
.News{
    padding: 1em 2em;
    background: #fff;

    .sub_title{
        margin: 0;
        padding: 0.5em 0;
        color: darken($primaryColor, 10);
        font-weight: bold;
        border-bottom: solid 2px #e7e7e7;
    }
    ol{
        li{
            a{
                font-size: .9em;
                display: block;
                color: #666;
                time{
                    display: inline-block;
                    padding: 0 1.25em;
                    margin-right: 6px;
                    font-size: .813em;
                    border-radius: 3px;
                    box-shadow: inset 0 0 0 1px #ddd;
                }

                &:hover, &:focus{
                    color: $aHover;
                    time{
                        background: $aHover;
                        color: #fff;
                        border-radius: 3px;
                        box-shadow: none;
                    }
                }
            }
        }
    }

    // @include screen('mobile'){
    //     @include gutter();
    // }
}

// 月曆：sp3、sp4參訪預約導覽
// 共用
.calander{

    .tip{
        // padding: 30px 0;
        margin: 20px 0;
        font-size: .9em;
        span{
            display: inline-block;
            margin-right: 12px;
        }
        b{
            display: inline-block;
            width: 20px;
            height: 20px;
            vertical-align: middle;
            margin-bottom: 3px;
            margin-left: 2px;
         }

        .today, .unfilled, .done{
            b{ border-radius: 50%; }
        }
        .today{
            b{ background: $primaryColor; }
        }
        .occupied{
            b{
                background: url(../images/icon/icon_close.svg) 50% 50% no-repeat;
                background-size: 14px 14px;
            }
        }
        .unfilled{
            b{ background: #ff5722;}
        }
        .done{
            b{
                background: url(../images/icon/icon_check.svg) 50% 50% no-repeat, yellowgreen;
                background-size: 12px 12px;
            }
        }
        .picked{
            b{ background: darken($lightColor2, 8); }
        }
    }

    // 月曆切換模組(header)
    .month_ctl{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    // selector 館別選擇
    .function{
        .flex-form{
            border-bottom: 0;
            margin: 0;
            .form_grp{
                margin: 0;
                .form_title{
                    display: block;
                    text-indent: -9999px;
                    margin-right: 0;
                }
            }
        }
    }

    // 月份切換
    .toggle{
        .btn{
            text-indent: -9999px;
            padding: 1em;
            border-radius: 50%;
            width: 46px;
            height: 46px;
            min-width: auto !important;
            border: transparent;
            // background: red;

            &.pre, &.next{}

            &.pre{
                background: url(../images/icon/icon_arrow_left2.svg) 50% 50% no-repeat, #bbb;
                background-size: 18px 18px;

                &:hover, &:focus{
                    background: url(../images/icon/icon_arrow_left2.svg) 50% 50% no-repeat, #333;
                     background-size: 18px 18px;
                }
            }
            &.next{
                background: url(../images/icon/icon_arrow_right2.svg) 50% 50% no-repeat, #bbb;
                background-size: 18px 18px;
                right: 0;
                &:hover, &:focus{
                    background: url(../images/icon/icon_arrow_right2.svg) 50% 50% no-repeat, #333;
                    background-size: 18px 18px;
                }
            }
        }
    }

    // 當前月份
    time.this_date{
        text-align: center;
        font-weight: bold;
        display: block;
        font-size: 1.5em;
        line-height: 2.6;
    }

    // 月曆 table
    table{

        thead th{
            &:first-child, &:last-child{
                background: #870600;
            }
        }
        th{
            width: calc(100% / 7);
            line-height: 1.2;
            font-size: .9em;
            padding: .5em 0;
            b{ display: block;}
        }
        td{
            padding: 0;
            a{
                display: block;
                padding: .5em;
                // @include text-overflow; 

                &:hover{ background: #ecdfca; color: #333; }
                &:focus{
                    color: #fff;
                    background: darken($lightColor2, 8);
                }

                &.act{
                    color: #fff;
                    background: darken($lightColor2, 8);
                }
            }

            &.unable{
                // color: #666;
                // cursor: not-allowed;
                // background: #f4f4f4;
                // 統一整理到 51 行
                a{
                    &:hover, &:focus{
                        background: transparent;
                        color: #222;
                    }
                }
            }
            
            &.today{
                color: #fff;
                span{
                    display: block;
                    width: 32px;
                    height: 32px;
                    line-height: 32px;
                    margin: auto;
                    background: $primaryColor;
                    color: #fff;
                    // color: darken($primaryColor, 5);
                    font-weight: bold;
                    // box-shadow: inset 0 0 0 2px $primaryColor;
                    border-radius: 50%;
                }

                a.act{
                    span{
                        background: #fff;
                        color: darken($lightColor2, 10);
                        box-shadow: none;
                    }
                }
            }
        }

        .mask{
            // 其他人：他人設定項目，不可被點選者，以純文字顯示
            p{
                color: #333;
                // font-size: .813em;
                margin: 0;
                padding: .25em 1.125em;
                line-height: 1.2;
                time{ padding-right: 2px;}

                position: relative;
                &:before{
                    content: '';
                    display: block;
                    width: 4px;
                    height: 4px;
                    background: #757575;
                    border-radius: 50%;
                    position: absolute;
                    left: .5em;
                    top: 50%;
                    margin-top: -2px;
                }
            }
        }

        // link list
        &.links{

            +.tip{
                .today{
                    b{ background: #ecdfca; }
                }
                .picked{
                    b{ background: darken($lightColor2, 8); }
                }
            }

            td{
                text-align: left;
                vertical-align: baseline;
                padding: .25em;
                padding-bottom: 0.5em;
                font-size: .813em;

                >span{
                    display: inline-block;
                    margin-left: .65em;
                    width: 28px;
                    height: 28px;
                    line-height: 28px;
                    text-align: center;
                }

                // 你自己
                a{
                    padding: .45em 1.125em;
                    line-height: 1.4;
                    border-radius: 12px;
                    // @include text-overflow;
                    // max-width: 146px;

                    position: relative;
                    &:before{
                        content: '';
                        display: block;
                        width: 4px;
                        height: 4px;
                        background: #222;
                        border-radius: 50%;
                        position: absolute;
                        left: .5em;
                        top: 11px;
                    }

                    &.act{
                        color: #fff;
                        background: darken($lightColor2, 8);
                        &:before{ background: rgba(255,255,255,.85); }
                    }

                    time{ padding-right: 2px;}
                }
                
                &.unable{}
                &.today{
                    background: #ecdfca;
                    >span{
                        background: #fff;
                        color: darken($lightColor2, 10);
                        box-shadow: none;
                    }

                    a{
                        // color: #222;
                        // background: transparent;
                    }

                    &.act{
                        color: #fff;
                        background: darken($lightColor2, 8);
                        &:before{ background: rbga(255,255,255,.5); }
                    }
                }

                .mask{
                    margin: 8px 0 0;
                    max-height: 66px;
                    overflow: hidden;
                    &.show{ max-height: initial; }
                }
                .mask_switch{
                    font-weight: bold;
                    width: -webkit-fill-available;
                    line-height: 2;
                    padding: 0 !important;
                }
                // 手機版樣式
                .mobile_type{
                    text-align: right;
                    margin: 0.25em 0.4em;
                    a{
                        display: inline-block;
                        width: 36px;
                        height: 36px;
                        text-align: center;
                        line-height: 36px;
                        background: #ebebeb;
                        border: 1px solid #ddd;
                        color: #222;
                        font-weight: bold;
                        font-size: 1.25em;
                        padding: inherit;

                        &:before{ display: none;}

                        &.act{
                            color: #fff;
                            background: darken($lightColor2, 8);
                        }
                    }
                    display: none; //預設隱藏
                }
            }

            // 我的值勤班表
            &.schedule{
                td{
                    .mask{
                        max-height: initial;
                        height: auto;
                        margin: 8px 0;
                    }
                    a{
                        border-radius: 4px;
                        color: #980000;
                        &:before{ background: #ff5722; }
                        &:hover{}

                        &.act{
                            color: #fff;
                            &:before{ background: #fff; }

                            &.finish{ color: #fff !important; }
                        }

                        &.finish{
                            padding-right: 20px;
                            color: #222;
                            &:before{
                                width: 18px;
                                height: 18px;
                                background: url(../images/icon/icon_check.svg) 50% 50% no-repeat, yellowgreen;
                                background-size: 8px 8px;
                                margin-top: -9px;
                                left: initial;
                                right: 2px;
                                top: 50%;
                            }

                            &.act{
                                &:before{ filter: invert(1); }
                            }
                        }
                    }
                    p:before{ display: none; }

                    input[type="checkbox"],
                    input[type="radio"] { padding: 0 !important; }
                    input[disabled]{ opacity: 0;}

                    // 我要排班
                    .shift-based{
                        text-align: center;
                        border-radius: 3px;
                        font-weight: bold;
                        width: -webkit-fill-available;
                        line-height: 2;
                        padding: 0 !important;
                        background: #e7e7e7;
                        color: #444;

                        &:hover, &:focus{
                            background: darken(#e7e7e7, 10);
                            color: #222;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 1300px) {
            // link list
            &.links{
                td{
                    a{
                        border-radius: 4px;
                        max-width: inherit;
                        line-height: 1.2;
                        time{ display: block; }
                        // &:before{ top: 12px; }
                    }
                    .mask{
                        max-height: initial;
                        height: 110px;
                        &.show{
                            max-height: 100%;
                            height: auto;
                        }

                        p{
                            time{ display: block; }
                        }
                    }
                }
            }
        }
        @include screen('tablet'){

            // link list
            &.links{
                td{
                    .mask, .mask_switch{ display: none; }
                    // 手機版樣式
                    .mobile_type{ display: block; }
                }
                // 我的值勤班表
                &.schedule{
                    td{
                        .check_grp{ display: none; }
                    }
                }
            }
        }
        @include screen('mobile'){
            // link list
            &.links{
                td{
                    // 手機版樣式
                    .mobile_type{ margin: 0.25em 0.4em; }
                }

                // 我的值勤班表
                &.schedule{
                    td{
                        // 我要排班
                        .shift-based{
                            line-height: 1.2;
                            padding: 10px 2px !important;
                        }
                    }
                }
            }
        }
    }

    &.type_2{
        .month_ctl{
            display: block;
            position: relative;
        }
        // 月份切換
        .toggle{
            position: absolute;
            top: 0;

            // 左右對齊
            width: 100%;
            height: 66px;

            .btn{
                &.pre, &.next{
                    position: absolute;
                    top: 8px;
                }
            }

            .btn.pre, .btn.next{
                position: absolute;
                top: 8px;
            }
        }
    }

    @include screen('mobile'){

        margin-left: -1.5em;
        margin-right: -1.5em;

        .tip,
        .month_ctl,
        .function,
        .link_list,
        .tip_box,
        .News{
            margin-left: 1em;
            margin-right: 1em;
        }

        .month_ctl{
            // flex-flow: column wrap;
            flex-flow: row wrap;

            .this_date{
                width: 100%;
            }

            +table{
                margin-top: 1.5em;
            }
        }
        // selector 館別選擇
        .function{
            order: 1;
            margin: 0;
            .flex-form .form_grp .form_title{
                display: none;
            }
        }
        // 月份切換
        .toggle{ order: 2; }
        // 當前月份
        time.this_date{}
    }
}
// 手機版 list link
.link_list{
    padding: 1em 0;
    display: flex;
    flex-flow: row nowrap;
    display: none;

    >time{
        flex: 0 0 auto;
        font-size: 1.5em;
        color: #222;
        line-height: 1.4;

        span{
            display: inline-block;
            padding: .5em 1.65em .35em;
            // color: #fff;
            // background: darken($lightColor2, 8);
            color: #222;
            &:before{
                content: '您選擇的日期：';
                display: block;
                font-size: 60%
            }
        }
    }
    .items{
        flex: 1 1 auto;
        padding: 1.25em 1em;
        background: #fff;
        p, a{
            line-height: 2.6;
            text-align: center;
            time{ margin-right: 6px; }
        }
        p{
            margin: 0;
        }
        a{
            display: block;
            margin-bottom: 10px;
            border-radius: 4px;
            background: #942603;
            border: 1px solid #ddd;
            color: #fff;

            position: relative;
            &:before{
                content: '';
                display: block;
                position: absolute;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                margin-top: -12px;
                right: 16px;
                top: 50%;

                // background: #ff5722;
                background: url(../images/icon/icon_important.svg) 50% 50% no-repeat,#ff5722;
                background-size: 12px 12px;
            }

            &.finish{
                background: #fff;
                border: 1px solid #ddd;
                color: #222;
                &:before{
                    background: url(../images/icon/icon_check.svg) 50% 50% no-repeat, yellowgreen;
                    background-size: 12px 12px;
                }

                &.act{
                    &:before{ filter: invert(1); }
                }
            }
        }

        input[disabled]{ opacity: 0;}
        label{ display: block; padding: .5em 0; }
    }

    @include screen('tablet'){
        display: flex;
    }

    @include screen('mobile'){
        flex-flow: row wrap;

        >time, .items{ flex: 1 1 100%; }
        >time{
            text-align: center;
            span{
                // background: transparent;
                // color: #222;
                margin-block: 10px;
                &:before{}
            }
        }
        .items{}
    }
}

// 週曆：sp4參訪預約導覽
.weekly{
    @extend %flex_set;
    background: #fff;
    border: #ddd 1px solid;
    flex-flow: row nowrap;
    align-items: initial;

    +.tip{
        .today{
            b{ background: #ecdfca; }
        }
    }

    .day{
        @include flex-xs-equal(1, 0px);
        @include flex-sm-equal(1, 0px);
        @include flex-md-equal(7, 0px);
        @include flex-lg-equal(7, 0px);

        text-align: center;
        border-right: #ddd 1px solid;
        &:last-child{ border-right: 0; }

        &:first-child, &:last-child{
            .date{
                background: #870600;
            }

        }
        // &:hover, &:focus{
        //     background: #eee;
        //     .items{
        //         .gallery{ border: 1px solid transparent; }
        //     }
        // }

        &.today{
            background: #ecdfca;
            .date{
                position: relative;
                z-index: 1;
                &:after{
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    background: #ecdfca;
                    border-radius: 50%;
                    left: 16%;
                    top: 10px;
                }
            }
            .items{
                .gallery{ border: 1px solid #d2c4b0 }
            }
        }

        .date{
            line-height: 1.2;
            font-size: .9em;
            padding: 0.5em 0;
            background-color: #6c5e4b;
            color: #fff;
            b{ display: block; }
        }
        .items{
            .gallery{
                margin: .5em .75em;
                border: #ddd 1px solid;
                border-radius: 6px;
                background: #fff;
                overflow: hidden;
                .gallery_title{
                    font-size: .9em;
                    font-weight: bold;
                    padding: .45em 0;

                    position: relative;
                    &:after{
                        content: '';
                        position: absolute;
                        width: 80px;
                        height: 1px;
                        background: #000;
                        bottom: .45em;
                        left: 50%;
                        margin-left: -40px;
                    }
                }
                .list{
                    a, p{
                        display: block;
                        font-size: .813em;
                        line-height: 1.2;
                        padding: 6px 0;
                        margin: 0;
                        color: #333;

                        time{}

                        // &:hover{ background: #ecdfca; color: #333; }
                        // &:focus{
                        //     color: #fff;
                        //     background: darken($lightColor2, 8);
                        // }

                        // &.act{
                        //     color: #fff;
                        //     background: darken($lightColor2, 8);
                        // }
                        &.unable{
                            color: #333;
                            background: #f4f4f4;
                        }
                    }
                }
            }

            @media screen and (max-width: 1300px) {
                .gallery{
                    .list{
                        time{ display: block; }
                    }
                }
            }
        }
    }

    @include screen('tablet'){
        flex-flow: row wrap;
        .day{
            .items{
                font-size: 110%;
                // .gallery{
                //     .list{
                //         a, p{ font-size: 1.125em; }
                //     }
                // }
            }
        }
    }

    @include screen('mobile'){
        margin-left: 1em;
        margin-right: 1em;
    }
}







